@font-face {
	font-family: 'Arial';
	src: url('../../assets/fonts/arial.ttf');
	src: local('Arial Regular'), local('Arial-Regular'),
		url('../../assets/fonts/arial.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Georgia';
	src: url('../../assets/fonts/georgia.ttf');
	src: local('Georgia Regular'), local('Georgia-Regular'),
		url('../../assets/fonts/georgia.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}


*{
	margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
	scroll-behavior: smooth;
	background-image: url("../../assets/images/start-screen-background.png");
	background-repeat: no-repeat;
	background-size: 100% 908px;
	overflow-x: hidden;
	
}


body.scrollblock {
    overflow: hidden;
}

.main-container{
	max-width: 1280px;
	margin: auto;
	/* border: 1px solid yellowgreen; */
}


/* START SCREEN */

.start_screen{
	margin: 0.9rem 0 0 0.15rem;

}

header{
	display: flex;
	
	flex-wrap:wrap;
}
#logo{
	transition-duration: 0.5s;
	cursor: pointer;
}
.logo{
	flex: 1;
	flex-direction: column;
	width:100%;
	display: inline-block;
}

.logo > h1{
	margin: 2.85rem  0 0 1em;
	color: #F1CDB3;
	font-family: 'Georgia';
	font-style: normal;
	font-weight: 400;
	letter-spacing: 0.05em;
	
}

.logo > h4 {
	margin:0.17rem 0 0 2.6em;
	font-family: 'Arial';
	font-style: normal;
	font-weight: 400;
	font-size: 0.813em;
	line-height: 1.938em;
	color: #FFFFFF;
	letter-spacing: 0.1em;
}

.burger-menu{
	margin-top: 4rem;
	margin-right: 7rem;
	display: none; 
}

.burger-line{
	height: 2px;
	background-color: #F1CDB3;
	width: 32px;
	margin-bottom: 8px;
}



nav{
	display: flex;
	flex-direction: row;
	margin: 2.35rem 2.6em 0 -7em;
	align-items: center;
}

nav > ul{
	display: flex;
	list-style: none;
}

nav > ul > li > a{
	margin: 0 0 0 2.25rem;
	font-family: 'Arial';
	font-style: normal;
	font-weight: 400;
	font-size: 0.938em;
	color: #CDCDCD;
	text-decoration: none;
}

nav > ul > li > a:hover{
	transition-duration: 0.2s;
	opacity: 0.7;
	text-decoration: underline 3px solid #F1CDB3;
	text-underline-offset: 0.35rem;
}

@media(max-width:768px) {

	/* .one h1, .one p{
		margin-right:50px;
	} */

	.burger-menu{
		display:block;
		float:left;
		margin-top:3.4em;
		cursor:pointer;
	}

	nav>ul{
		display:flex;
		flex-direction: column;
		list-style-type: none;
	}


	nav > ul> li{
	   display:none;
	}
}


.about_us_highLighted{
    text-decoration: underline 3px solid #F1CDB3;
	text-underline-offset: 0.35rem;
}


.start_screen_content{
	display: flex;
	margin-top: 1.4em;
	flex-wrap:wrap;
}


.screen_heading{
	flex: 1;
	display: flex;
	flex-direction: column;
	margin-left:2em;
	flex-wrap:wrap;
}

.screen_heading > h2{
	margin: 10% 0 0 0;
	width: 25rem;
	font-family: 'Georgia';
	font-style: normal;
	font-weight: 400;
	font-size: 2.75rem;
	line-height: 130%;
	color: #FFFFFF;
}

.screen_heading > p{
	margin-top: 2.6rem;
	width: 29rem;
	font-family: 'Arial';
	font-style: normal;
	font-weight: 400;
	font-size: 0.9375rem;
	line-height: 160%;
	color: #CDCDCD;
}


.aBtn{
	margin: 2.5rem 0 0 0;
	background-color: #F1CDB3;
	width: 13rem;
	height: 3.25rem;
	border: none;
	border-radius: 1.5625rem;
	text-align: center;
	padding: 1rem;
	cursor: pointer;
	transition-duration: 0.2s;

	font-family: 'Georgia';
	font-style: normal;
	font-weight: 400;
	font-size: 1.063rem;
	line-height: 130%;
	letter-spacing: 0.06em;
	text-decoration: none;
	color: #292929;
}
.aBtn:hover{
	background-color: #F6F6F6;
}

.puppy_img{
	flex:1;
	justify-content: center;
	margin-top:8%;
}

.start_puppy{
	width: 100%;
	min-width: 400px;
	height: auto;
  }

@media(max-width:1200px){
	.screen_heading > h2{
		margin-top:1em;
	}

	.start_screen_content{
		margin: auto;
		width: 50%;
	}

	.friendbtn{
		text-align: center;
	}

	.start_puppy{
        width: 70%;
        min-width: 300px;
        height: auto;
		margin-left:5rem;
      }
}

@media(max-width:768px){
	.start_screen_content{
		margin-left:9%;
	}

	.screen_heading p{
		width:90%;
	}

}





/* ABOUT THE SHELTER */

.about{
	width: 100%;
	background: #FFFFFF;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.about_content{
	margin: 5rem;
	display: flex;
}

.img_about_pets{
	margin-left: 5.92rem;
	flex: 1;
	display:block;
}

.about_cozy_house{
	flex: 1.42;
	display: flex;
	flex-direction: column;
}

.about_cozy_house > h2{
	margin-top: 0.95rem;
	margin-left: 1.85rem;
	width: 60%;
	font-family: 'Georgia';
	font-style: normal;
	font-weight: 400;
	font-size: 2.1875rem;
	line-height: 130%;
	letter-spacing: 0.06em;
	color: #545454;
}

.p1{
	margin-top: 1.45rem;
	margin-left: 1.85rem;
	width: 78%;
	font-family: 'Arial';
	font-style: normal;
	font-weight: 400;
	font-size: 0.9375rem;
	line-height: 160%;
}

.p2{
	margin: 1.6rem 0 0 1.85rem;
	width: 76%;
	font-family: 'Arial';
	font-style: normal;
	font-weight: 400;
	font-size: 0.9375rem;
	line-height: 160%;
}

@media(max-width:768px){
	.about_content{
		display:block;
	}

}
 


/* OUR FRIENDS */

.pets {
	width: 100%;
	background: #F6F6F6;
}

.pets-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.pets-wrapper > h2 {
	margin: 6.05rem 0 0 0.25rem;
	font-family: 'Georgia';
	font-style: normal;
	font-weight: 400;
	font-size: 2.1875rem;
	line-height: 130%;
	letter-spacing: 0.06em;
	color: #545454;
	text-align: center;
}


.pets-slider {
	width: 100%;
	display: flex;
	align-items:center;
	/* justify-content: center; */
	justify-content: space-around;
	flex-wrap: wrap;
}

.pets-arrow {
	margin-top: 5.5rem;
	margin-left:0.07rem;
	/* flex: 0.04; */
	width: 3.25em;
	height: 3.25em;
	border: none;
	/* border: 0.15rem solid #F1CDB3; */
	border-radius: 50px;
	/* background: url(../../assets/icons/Arrow.svg); */
	background: url(../../assets/images/affect-arrow-left.png);
	/* background-repeat: no-repeat;
	background-position: center; */
	padding: 0px;
	cursor: pointer;
}

#woody, #jennifer, #katrine{
	display:block;
}

.arrowLeft{
	/* transform: rotate(-180deg); */
}
.arrowRight{
	/* margin-right: 4.7rem; */
	background: url(../../assets/images/affect-button_arrow.png);
	margin-right: 0.1rem;
}

.pets-arrow:hover {
	background-color: #F1CDB3;
	/* border: 2px solid transparent; */
	transition-duration: 0.5s;
}

.all-pets {
	display:flex;
        flex-wrap: wrap;
        align-items: center;
        text-align: center;
        justify-content: space-between;
        justify-content: center;
        font-size:20px;
        margin-top:1.8%;
        margin-left:8%;
        margin-right:7%;
        flex:1;
		/* border: 1px solid red; */
		overflow: hidden;
		width: 978px;
}

.pets-block{
	display:flex;
	width: fit-content;
	max-height: 425px;
	margin-left: -630px;
	margin-left: 50px;
}



#katrine:hover{
	opacity: 0.6;
}


#jennifer:hover{
	opacity: 0.6;
}

#woody:hover{
	opacity: 0.6;
}


.firstBlock{
    display: flex;
    order: 1;
    /* width: 450px; */
}
.middleBlock{
    display: flex;
    order: 2;
    /* width: 450px; */
} 
.lastBlock{
    display: flex;
    order: 3;
}

.pets-card {
	display: block;
	flex-direction: column;
	margin-right: 50px;
	cursor: pointer;
	align-items: center;
	/* border: 1px solid red; */


	
}

.pets{
	position: relative;
}
.pets-card-child {
	visibility: hidden;
	/* display: none; */
	/* flex-direction: column; */
	/* margin-right: 50px; */
	background-color: #B2B2B2;
	/* background: transparent; */
	top: 20%;
	left: 15%;
	width: 952px;
	height: 552px;
	/* align-items: center; */
	/* border: 1px solid red; */
	border-radius: 5px;
	position: absolute;
	
}
.pop-close-btn{
	position: absolute;
	left: 94%;
	width: 52px;
	height: 52px;
	border: 2px solid #F1CDB3;
	text-align: center;
	padding: 11px;
	font-size: 20px;
	font-family:monospace;
	font-weight: bolder;
	font-weight: bold;
	border-radius: 50px;
	cursor: pointer;


}
.pets-pop-up{
	display: flex;
	width: 900px;
	height: 500px;
	background: #FFFFFF;
	margin-top: 52px;
	border-radius: 5px;
	z-index: 7;
}

.pop-up-ul{
	list-style: none;
	font-family: 'Georgia';
	font-style: normal;
	font-weight: 700;
	font-size: 15px;
	line-height: 110%;
	letter-spacing: 0.06em;
	color: #000000;
}

.pop-up-ul li::before {
	content: "•";
	color:  #F1CDB3;
	font-weight: bold;
	display: inline-block; 
	width: 1em;
	/* margin-left: -1em; */
  }

  .pop-list-item{
	font-weight: normal;
  }

  .pop-up-info{
	  display: flex;
  }

.pets-name  {
	display: flex;
	justify-content: center;
	font-family: 'Georgia';
	font-style: normal;
	font-weight: 400;
	font-size: 1.25rem;
	line-height: 1.438rem;
	letter-spacing: 0.06em;
	color: var(--color-dark-l);
	margin-bottom: 32px;
	margin-top: 28px;
}

.btn_learn_more{
	display: flex;
	align-self: center;
	justify-content: center;
	border: 0.15rem solid #F1CDB3;
	width: 11.688rem;
	height: 3.25rem;
	border-radius: 6rem;
	background-color: transparent;
	font-family: 'Georgia';
	font-style: normal;
	font-weight: 400;
	font-size: 1.075rem;
	line-height:2.8rem;
	letter-spacing: 0.06em;
	color: black;
	cursor: pointer;
	margin-left:45px;
}


.btn_learn_more:hover {
	background-color : #F1CDB3;
	transition-duration: 0.2s;
	border: 2px solid transparent;
	
}

.pets-button {
	/* margin: 5.55rem 4.063rem 0 0; */
	margin: 5.55rem 0 0 0.1rem;
	background-color: #F1CDB3;
	width: 16.3125rem;
	height: 3.25rem;
	border: none;
	border-radius: 25px;
	font-family: 'Georgia';
	font-style: normal;
	font-weight: 400;
	font-size: 1.063rem;
	line-height: 130%;
	letter-spacing: 0.06em;
	text-decoration: none;
	cursor: pointer;
	transition-duration: 0.5s;
}

.pets-button:hover {
	border: 0.15rem solid #F1CDB3;
	background-color : #FFFFFF;
	transition-duration: 0.5s;
}


@media(max-width:1100px){
	.pets-arrow{
		display:none;
	}

}

/* HOW TO HELP PETS*/


#help{
	width: 100%;
	transition-duration: 0.5s;
	background: #FFFFFF;
	margin: 11.25rem 0 0 0;
}

.help-title{
	margin: 0.2rem 0 0 0.25rem;
	text-align: center;
	font-family: 'Georgia';
	font-style: normal;
	font-weight: 400;
	font-size: 2.188rem;
	line-height: 130%;
	letter-spacing: 0.06em;
	color: #545454;
}

.grid_wrapper{
	margin-left: 5%;
	display: flex;
	flex-wrap: wrap;
	justify-items: center;
	justify-content: space-evenly;
}

.item{
	background-color: transparent;
}



.help-txt {
	width: 10.938rem;
	text-align: center;
	margin: 1.9rem 0 0 0.25rem;
	font-family: 'Georgia';
	font-style: normal;
	font-weight: 400;
	font-size: 1.25em;
	line-height: 115%;
	letter-spacing: 0.06em;
	color: #545454;
}


.center-txt {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: auto;
	width: auto;
	margin-right:2em;
	margin-top: 20px;
}


/*YOU CAN ALSO DONATE */

#donation{
	width: 100%;
	background: #F6F6F6;
	margin: 11.313rem 0 0 0;
	
}

.donation_content{
	margin-top:30px;
	display: flex;
	flex-wrap: wrap;
}

.donation_content> img{
	width: 31.563rem;
	height: 16.313rem;
	margin: 0.65rem  0 0 8.9rem;
}

.charity-dog{
	margin-left:10%;
	margin-right:10%;
	display:block;
	margin:auto;
}

.charity-img{
		
        width: 70%;
        min-width: 400px;
        height: auto;
		margin-left:5rem;
		
      
}

.donation_inner_content{
	display:block;
	margin:auto;
}

.donation_inner_content  >  h2{
	margin: 0.1rem 0 0 1.9rem ;
	font-family: 'Georgia';
	font-style: normal;
	font-weight: 400;
	font-size: 2.188rem;
	line-height: 130%;
	display: flex;
	align-items: center;
	letter-spacing: 0.06em;
	color: #545454;
}
.donation_inner_content  >  h5{
	margin: 1.2rem 0 0 1.9rem;
	font-family: 'Georgia';
	font-style: normal;
	font-weight: 400;
	font-size: 0.938rem;
	line-height: 110%;
	display: flex;
	align-items: center;
	letter-spacing: 0.06em;
	color: #545454;
}


.credit_card{
	margin: 1.2rem 0 0 1.9rem;
	display: flex;
	background: #F1CDB3;
	border-radius: 0.563rem;
}
.credit_card > img{
	margin: 0.275rem 0 0 0.57rem;
	padding: 0.438rem;
}
.credit_card > button{
	background-color: #F1CDB3;
	border: 0;
	padding-top: 20px;
	height: 1rem;
	text-decoration: none;
	margin: 0.15rem 0 0 0.45rem;
	width: 17.2rem;
	font-family: 'Georgia';
	font-style: normal;
	font-weight: 400;
	font-size: 1.25rem;
	line-height: 115%;
	display: flex;
	align-items: center;
	letter-spacing: 0.06em;
	color: #545454;
	cursor: pointer;
}

.credit_card:hover {
	opacity: 0.5;
	color: darkgreen;
	transition-duration: 0.5s;
}

.donation_inner_content > p{
	margin: 22px 0 0 30px;
	font-family: 'Arial';
	font-style: italic;
	font-weight: 400;
	font-size: 0.75rem;
	line-height: 18px;
	color: #B2B2B2;
	text-align: left;
	width: 380px;
	height: 72px;
}

@media(max-width:768px){
	 .donation_content{
		 flex-direction: column-reverse;
	 }
}


/* Contacts */
#contacts{
	transition-duration: 0.5s;
}

footer{
	width: 100%;
	margin: 100px 0 0 0;
	background-image: url("../../assets/images/start-screen-background.png");
    	background-repeat: no-repeat;
	background-size: 100% 100%;
	
}



.footer-content{

	/* width: 1280px;
	margin: 0 auto; */
	margin-left:30px;
	display: flex;
	flex-wrap: wrap;
}
.questions{
	margin: 3.563rem 0 0 0;
	flex: 1;
	display:block;
}


.FP{
	margin-top: 0.3rem;
	margin-left: 1.25rem;
	font-family: 'Georgia';
	font-style: normal;
	font-weight: 400;
	font-size: 1.25rem;
	line-height: 115%;
	letter-spacing: 0.06em;
	color: #F1CDB3;
	text-decoration: none;
}
.mail{

	margin-top: 2.4rem;
}

.phone{

margin-top: 2.2rem;
}

.visit-us{
	margin: 3.563rem 0 0 8.7rem;
	flex:1;
	display:block;
}

.boston{
	display: flex;
	margin-top: 1.7rem;
}
.london{
	display: flex;
	margin-top: 2rem;
}

.img_pin_boston{
	margin-top: 0.7rem;
}

.footer-dog{
	flex:1;
	margin: 2.5rem 0 0 10rem;
}

.footer-h2{
	font-family: 'Georgia';
	font-style: normal;
	font-weight: 400;
	font-size: 2.188rem;
	line-height: 130%;
	letter-spacing: 0.06em;
	color: #FFFFFF;
}


@media(max-width:1100px){
    .footer-dog{
        margin-left:37.5%;
    }
}

@media(max-width:796px) {
    .footer-dog{
        margin-left: 20%;
}
}

.two-btn-div{
	display: none;
}
@media(max-width:320px) {
*{
	box-sizing: border-box;
}
html{
	scroll-behavior: smooth;
	background-image: url("../../assets/images/start-screen-background.png");
	background-repeat: no-repeat;
	background-size: 320px 822px;
	overflow-x: hidden;
	
}
	.start_screen{
		margin-top: 0;
		
		min-width: 320px;
		max-width: 320px;
		max-height: 822px;
		min-height: 822px;
		/* border: 1px solid red; */
		min-width: 320px;
		max-width: 320px;
		margin-left: auto;
		margin-right: auto;
	}

	.logo{
		margin-top: -16px;
		margin-left: -23px;
		max-width: 250px;
	}

	.burger-menu{
		margin-top: 49px;
		margin-left: 6px;
		display: flex;
		flex-direction: column;

	}

	.screen_heading > h2{
		margin-top: 56px;
		font-size: 25px;
		width: 197px;
		text-align: center;
		letter-spacing: 1.5px;
	}
	.screen_heading > p{
		font-size: 15px;
		max-width: 300px;
		min-width: 300px;
		margin-left: -55px;
		margin-top: 42px;
		/* margin-right: auto; */
		text-align: center;
	}

	.friendbtn{
		margin-left: -8px;
		margin-right: auto;
	}

	.start_puppy{
		
		max-height: 271px;
		max-width: 260px;
		min-height: 271px;
		min-width: 260px;
		margin-top: 92px;
		/* margin-left: 100px; */
		/* border: 1px solid red; */
		margin-left: 20px;
		/* margin-left: auto;*/
		/* margin-right: auto;  */

	}

	.about{
		margin-top:22px;
		min-width: 320px;
		max-width: 320px;
		margin-left: auto;
		margin-right: auto;
		max-height: 953px;
		min-height: 953px;
		/* border: 1px solid green; */
		/* border: 1px solid red; */
	}
	.about_content{
		/* margin-left: 0; */
		margin: auto;
		display: flex;
		flex-direction: column-reverse;
		align-content: center;
	}

	.about_cozy_house > h2{
		font-size: 25px;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		margin-top: -18px;
		max-width: 270px;
		min-width: 270px;
	}
	.about_cozy_house > .p1{
		margin-left: 0;
		/* margin-right: auto; */
		max-width: 270px;
		min-width: 270px;
		text-align: justify;
	}
	.about_cozy_house > .p2{
		margin-left: 0;
		/* margin-right: auto; */
		max-width: 270px;
		min-width: 270px;
		text-align: justify;
	}

	#pets{
		max-width: 320px;
		min-width: 320px;
		margin-left: auto;
		margin-right: auto;
		max-height: 790px;
		min-height: 790px;
		/* border: 1px solid red; */
	}
	.img_about_pets > img{
		max-width: 260px;
		max-height: 353px;
		min-width: 260px;
		min-height: 353px;
		margin-left: -90px;
		margin-top: 40px;
		/* align-self: center; */
		/* margin-right: auto; */
	}

	#jennifer, #woody{
		display: none;
	}

	.pets-wrapper > h2{
		font-size: 25px;
		margin-top: 42px;
	}

	#katrine{
		margin-top: 35px;
		margin-left: 0;
	}

	.two-btn-div{
		display: block;
		margin-top: 49px;
	}

	.two-btn-one{
		margin-left: 0;
	}
	.two-btn-two{
		/* margin-left: 75px; */
		margin-left: 75px;
	}

	.pets-name{
		margin-top: 24px;
	}

	.pets-button{
		margin-top: 38px;
	}
	.btn_learn_more{
		margin-left: 42px;
	}

	#help{
		margin-top: 0;
		max-height: 674px;
		min-height: 674px;
		/* border: 1px solid red; */
		min-width: 320px;
		max-width: 320px;
		margin-left: auto;
		margin-right: auto;
		/* margin: auto; */
		/* margin-left: 15px; */
		/* border: solid red 1px; */

	}

	.help-title{
		margin-left: 0;
		margin-top: 42px;
		/* margin-top: 0; */
		font-size: 25px;
		line-height: 129%;
		letter-spacing: 1.5px;
	}

	.grid_wrapper{
		display: flex;
		flex-wrap: wrap;
		max-width: 320px;
		min-width: 320px;
		margin: auto;

	}


	.center-txt > img{
		max-width: 50px;
		max-height: 50px;
		min-width: 50px;
		min-height: 50px;
		margin-top: 20px;
		margin-left: 30px;
	}
	.center-txt > p{
		font-size: 15px;
		line-height: 110%;
		letter-spacing: 0.9px;
		margin-top: 20px;
		/* margin-left: 4px; */
	}

	.toys{
		margin-top: 12px;
	}

	.bowls{
		margin-top: 12px;
		margin-left: 2px;
	}

	.shampoos{
		margin-top: 9px;
		margin-left: 2px;
	}

	.vitamins{
		margin-top: 10px;
		margin-left: 2px;
	}

	.medicines{
		margin-top: 10px;
		margin-left: 2px;
	}
	.collars {
		margin-top: 10px;
		margin-left: 1px;
	}
	.collars > p{
		max-width: 125px;
		min-width: 125px;
	}
	.sleep{
		margin-top: 11px;
		margin-left: -155px;
	}
	.help-txt{
		flex: 2;
		flex-basis: 80%;
		max-width: 120px;
	}

	#donation{
		margin-top: 0;
		max-height: 570px;
		min-height: 570px;
		background-color: #F6F6F6;
	}

	.donation_inner_content > h2{
		margin-top: 42px;
		margin-left: 38px;
	}

	.donation_inner_content > h5{
		margin-top: 23px;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}

	.credit_card{
		margin-top: 22px;
	}

	.charity-dog{
		margin-top: 42px;
	}
   .visit-us, .donation_content{
        margin-left: 0;
		/* margin: 0 auto; */
	}
	.footer-dog{
		margin-top: 25px;
		margin-left: 0;
	}
	.questions > .footer-h2{
		font-size: 25px;
		/* width: 100%; */
		margin-top: -27px;
		margin-left: -30px;
		text-align: center;
		/* max-width: 320px;
		min-width: 320px; */
	}

	.visit-us > .footer-h2{
		font-size: 25px;
		text-align: center;
		margin-top: -20px;
		margin-left: 5px;
		max-width: 250px;
		min-width: 250px;
	}
	.footer-dog,.footer-dog > img{
		/* border: 1px red solid; */

		max-width: 260px;
		max-height: 269px;
		min-width: 260px;
		min-height: 269px;
		margin-left: auto;
		margin-right: auto;
	}

	.charity-dog, .charity-img{
		max-width: 260px;
		max-height: 134px;
		min-width: 260px;
		min-height: 134px;
		/* margin-left: auto;
		margin-right: auto;
		margin-top: auto; */
		/* margin: auto; */
		margin-left: 15px;
	}
	.donation_inner_content > h2{
		font-size: 25px;
		/* margin-left: auto;
		margin-right: auto; */
		text-align: center;
		/* align-self: center; */
	}
	.donation_inner_content > h5{
		font-size: 15px;
		margin-left: auto;
		margin-right: auto;
		letter-spacing: 0;
	}

	footer{
		margin-top: -28px;
		max-height: 809px;
		min-height: 809px;
		max-width: 320px;
		min-width: 320px;
		/* margin-left: auto;
		margin-right: auto; */
	}
	.donation_inner_content > p{
		max-width: 280px;
		max-height: 90px;
		min-width: 280px;
		min-height: 90px;
		margin-left: auto;
		margin-right: auto;
		font-size: 12px;
		/* line-height: 150%; */
		text-align: justify;
	}
	.footer-dog{
		margin-left: 0;
	}
	.credit_card {
		width: 280px;
		margin-left:auto;
		margin-right: auto;
	}

	.credit_card > button{
		font-size: 15px;
		width: 210px;
	}

	html, body{
		max-width: 320px;
		margin: auto;
		/* border: 1px solid red; */
	}

	
.main-container{
	max-width: 320px;
	margin: auto;
	/* border: 1px solid red; */
}

/* quickfix */

.about, #help, .pets, #donation, footer {
	/* border: 1px solid red; */
}



/* .start_screen, #help, .about, #donation, .pets, footer{
	display: none;
} */


}



