@font-face {
	font-family: 'Arial';
	src: url('../../assets/fonts/arial.ttf');
	src: local('Arial Regular'), local('Arial-Regular'),
		url('../../assets/fonts/arial.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Georgia';
	src: url('../../assets/fonts/georgia.ttf');
	src: local('Georgia Regular'), local('Georgia-Regular'),
		url('../../assets/fonts/georgia.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

/*
nav{
	flex:1;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	margin: 2.35rem 2.6em 0 0;
	align-items: center;
}



nav ul li{
    list-style: none;
    display:inline-block;
    position:relative;
}


nav > ul > li > a{
	margin: 0 0 0 2.25rem;
	font-family: 'Arial';
	font-style: normal;
	font-weight: 400;
	font-size: 0.938em;
	color: #545454;
	text-decoration: none;
}

nav > ul > li > a:hover{
	cursor: pointer;
	color: #292929;
}


.about_us_highLighted{
	color: #292929;
    text-decoration: underline 3px solid #F1CDB3;
	text-underline-offset: 0.3rem;
} */

html{
	scroll-behavior: smooth;
	background: #FFFFFF;
}

.main-container{
	max-width: 1280px;
	margin: auto;
	/* border: 1px solid yellowgreen; */
}


/* START SCREEN */

.start_screen{
	margin: 0.9rem 0 0 0.15rem;
	background-image: url("../../assets/images/start-screen-background.png");
	background-repeat: no-repeat;
}

header{
	display: flex;
	background: #FFFFFF;
	flex-wrap:wrap;
}
#logo{
	transition-duration: 0.5s;
	cursor: pointer;
}
.logo{
	flex: 1;
	flex-direction: column;
	width:100%;
	display: inline-block;
}

.logo > h1{
	margin: 2.85rem  0 0 1em;
	color: #545454;
	font-family: 'Georgia';
	font-style: normal;
	font-weight: 400;
	letter-spacing: 0.05em;
	
}

.logo > h4 {
	margin:0.17rem 0 0 2.6em;
	font-family: 'Arial';
	font-style: normal;
	font-weight: 400;
	font-size: 0.813em;
	line-height: 1.938em;
	color: #292929;
	letter-spacing: 0.1em;
}

.burger-menu{
	margin-top: 4rem;
	margin-right: 7rem;
	display: none; 
}

.burger-line{
	height: 3px;
	background-color: #F1CDB3;
	width: 35px;
	margin-bottom: 7px;
}



nav{
	display: flex;
	flex-direction: row;
	margin: 2.35rem 2.6em 0 -7em;
	align-items: center;
}

nav > ul{
	display: flex;
	list-style: none;
}

nav > ul > li > a{
	margin: 0 0 0 2.25rem;
	font-family: 'Arial';
	font-style: normal;
	font-weight: 400;
	font-size: 0.938em;
	color: #545454;
	text-decoration: none;
}

nav > ul > li > a:hover{
	transition-duration: 0.2s;
	opacity: 0.7;
	text-decoration: underline 3px solid #F1CDB3;
	text-underline-offset: 0.35rem;
}

.about_us_highLighted{
	color: #292929;
    text-decoration: underline 3px solid #F1CDB3;
	text-underline-offset: 0.3rem;
}



main{
	background-color:  #F6F6F6;
	padding-bottom: 6.25rem;
	
}

@media(max-width:768px) {

	/* .one h1, .one p{
		margin-right:50px;
	} */

	.burger-menu{
		display:block;
		float:left;
		margin-top:3.4em;
		cursor:pointer;
	}

	nav>ul{
		display:flex;
		flex-direction: column;
		list-style-type: none;
	}


	nav > ul> li{
	   display:none;
	}
}



/* Our Friends */

.all-pets-cont{
	background: #f6f6f6;
	text-align: center;
	
}



.our-firends-title {
	margin: 5.05rem 0 0 0.15rem;
	color: #545454;
	display:block;
	margin:auto;
	width:90%;
}

.our-firends-title > h2{
	text-align: center;
	font-family: 'Georgia';
	font-style: normal;
	font-weight: 400;
	font-size: 2.1875rem;
	line-height: 130%;
	letter-spacing: 0.06em;
	color: #545454;
	margin:auto;
}




.our-firends-all {
	margin-left: 5%;
	display: flex;
	flex-wrap: wrap;
	justify-items: center;
	justify-content: space-evenly;
	
}

.our-firends-block {
	margin: 1.75rem 0 0 0;
	display: block;
	flex-direction: column;
	align-items: center;
	background: #FAFAFA;
	border-radius: 0.5625rem;
}




.our-firends-block:hover {
	background: #FFFFFF;
	cursor: pointer;
}

.our-firends-name  {
	justify-content: center;
	font-family: 'Georgia';
	font-style: normal;
	font-weight: 400;
	font-size: 1.25rem;
	line-height: 1.4375rem;
	letter-spacing: 0.06em;
	margin-bottom: 1.875rem;
	margin-top: 1.875rem;
	margin-left: 0.18rem;
	color:#545454;
}

.btn_learn_more{
	border: 0.18rem solid #F1CDB3;
	width: 11.688rem;
	height: 3.25rem;
	border-radius: 6rem;
	background-color: #FFFFFF;
	margin-bottom: 1.875rem;
	font-family: 'Georgia';
	font-style: normal;
	font-weight: 400;
	font-size: 1.063rem;
	line-height: 130%;
	letter-spacing: 0.06em;
	color: #292929;
	cursor: pointer;
	text-align: center;
}


.btn_learn_more:hover {
	background-color : #F1CDB3;
	transition-duration: 0.5s;
	border: 0.12rem solid transparent;
	
}

.arrowSlider{
	margin: 3.7rem 0 0 0;
	display: flex;
	justify-content: center;
}
.our-firends-arrow-active {
	margin: 0 0.6rem 0 0.6rem;
	width: 3.3rem;
	height: 3.3rem;
	border: 0.15rem solid  #CDCDCD;
	box-sizing: border-box;
	border-radius: 6rem;
	display: flex;
	justify-content: center;

	text-align: center;
	font-family: 'Georgia';
	font-style: normal;
	font-weight: 400;
	font-size: 1.25rem;
	line-height: 220%;
	letter-spacing: 0.06em;
	background-color: #F6F6F6;
	
}

.arrowClickable{
	border: 0.15rem solid #F1CDB3;
	cursor: pointer;
}

.arrowClickable:hover{
	background-color:  #F1CDB3;
}

.arrowActive{
	background-color:  #F1CDB3;
	border: 0.15rem solid #F1CDB3;
}



.our-firends-arrow:hover {
	background-color: #F1CDB3;
	border: 2px solid transparent;
	transition-duration: 0.5s;
}

#katrine:hover{
	opacity: 0.8;
}
#jennifer:hover{
	opacity: 0.8;
}
#woody:hover{
	opacity: 0.8;
}
#sophia:hover{
	opacity: 0.8;
}
#timmy:hover{
	opacity: 0.8;
}
#charly:hover{
	opacity: 0.8;
}
#scarlett:hover{
	opacity: 0.8;
}
#freddie:hover{
	opacity: 0.8;
}


/* CONTACTS */
#contacts{
	transition-duration: 0.5s;
}

footer{
	width: 100%;
	margin: 100px 0 0 0;
	background-image: url("../../assets/images/start-screen-background.png");
    	background-repeat: no-repeat;
	background-size: 100% ;
}

.footer-wrapper{
	display:flex;
	flex-wrap:wrap;
}

.footer-content{

	/* width: 1280px;
	margin: 0 auto; */
	margin-left:30px;
	display: flex;
	flex-wrap: wrap;
}
.questions{
	margin: 3.563rem 0 0 0;
	flex: 1;
	display:block;
}


.FP{
	margin-top: 0.3rem;
	margin-left: 1.25rem;
	font-family: 'Georgia';
	font-style: normal;
	font-weight: 400;
	font-size: 1.25rem;
	line-height: 115%;
	letter-spacing: 0.06em;
	color: #F1CDB3;
	text-decoration: none;
}
.mail{

	margin-top: 2.4rem;
}

.phone{

margin-top: 2.2rem;
}

.visit-us{
	margin: 3.563rem 0 0 8.7rem;
	flex:1;
	display:block;
}

.boston{
	display: flex;
	margin-top: 1.7rem;
}
.london{
	display: flex;
	margin-top: 2rem;
}

.img_pin_boston{
	margin-top: 0.7rem;
}

.footer-dog{
	flex:1;
	margin: 2.5rem 0 0 10rem;
}

.footer-h2{
	font-family: 'Georgia';
	font-style: normal;
	font-weight: 400;
	font-size: 2.188rem;
	line-height: 130%;
	letter-spacing: 0.06em;
	color: #FFFFFF;
}


@media(max-width:1100px){
    .footer-dog{
        margin-left:35%;
    }

	.footer-content{
		background-image: url("../../assets/images/start-screen-background.png");
    	background-repeat: no-repeat;
	background-size: 100% ;
	}
}

@media(max-width:796px) {
    .footer-dog{
        margin-left: 20%;
}
}
